.acountBox{
    height: 100vh;
    width: 100%;
    background-color: rgb(210, 205, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    min-width: 200px;
    padding: 10px;
    margin: 8px;
    background-color: rgb(48, 38, 42);
    color: azure;
    border-radius: 7px;
    box-shadow: 5px 10px #888888;
}