.loading{
    width:100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;


}
.loading>div{
    width :10vmax;
    height :10vmax;
    border-bottom: 5px solid rgb(25, 15, 15);
    border-radius: 50%;
animation :loadingRotater 800ms linear infinite ;

}
@keyframes loadingRotater {
    to{
        transform: rotateZ(-360deg);
    }
    
}